# Бинарники программ и плагинов
*.exe
*.exe~
*.dll
*.so
*.dylib

# Архивы сборки
*.a
*.out

# Тестовые бинарники
*.test

# Локальный файл мультимодульного рабочего пространства
go.work
go.work.sum

# Кэш сборки (если создается внутри проекта)
.go/

.env
.env.*
!.env.example